/*
Deep green:     #457d00	(69,125,0)
Yellow green:   #c6c736	(198,199,54)
Light green: #96b125	(150,177,37)
Orange: #fea938	(254,169,56)
Yellow beige: #fcec9a	(252,236,154)
*/

:root {
  --deepgreen: #457d00;
  --yellowgreen: #c6c736;
  --lightgreen: #96b125;
  --pumpkinorange: #fea938;
  --yellowbeige: #fcec9a;
}

html {
  font-size: 1.2rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  background: linear-gradient(90deg, var(--deepgreen), var(--lightgreen), var(--deepgreen));
  color: var(--yellowgreen);
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  font-family: Courgette, cursive;
}

body {
  background-color: var(--yellowbeige);
}

footer {
    border-top: 1px solid black;
    padding: 1rem 0 1rem 1rem;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
}*/
  
/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
} */

/*@media only screen and (min-width: 600px) and (orientation: portrait) {
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
}*/
  
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
}*/
  
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */
  
/* Extra large devices (large laptops and desktops, 1370px and up) */
/*@media only screen and (min-width: 1370px) {
}*/